<div class="d2" id="hr2">
    Edit Script
</div>

<footer id="footer">
    <table id="edit_scripts">
        <tr>
            <th id="es_type">Type</th>
            <th id="es_old">Old Code</th>
            <th id="es_old_line">Line#</th>
            <th id="es_new">New Code</th>
            <th id="es_new_line">Line#</th>
            <th id="es_opt">Option</th>
        </tr>
        <%- storedScripts %>
    </table>
</footer>