<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body onload="">
        <div class="contents">
            <h1>Delete</h1>
            Some parts of the code on the left side are removed.<br>
            <br>
            <br>
            Let's do it!<br>
            Drag the "Delete" part of code, click the right mouse button and click the "Generate Delete".<br>
            <br>
            <br>
            <span class="emphasize">Hint!</span><br>
            1. The deleted parts are <span class="delete_exam">highlighted red</span>.<br>
            2. If you click the tiny box between the codes, you can move to the targeted code line.<img src="/public/img/box_exam.png" style="height:0.8em; width:1.6em; border:0;"><br>
        </div>
    </body>
</html>