<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            If you find the all edit scripts correctly, the buttons which show file numbers on the top turn <span class="file_green_exam">green color</span>.<br>
            The <span class="file_red_exam">red color</span> of the buttons on the top means that you miss or incorrectly make edit scripts.<br>
            <br>
            After all of the buttons on the top turn green color, you can click the finish button and move to a last page.<br>
        </div>
        <img src="/public/img/check_example.png">
        <div class="contents">
            <br>
            <br>
            After you finished generating edit scripts for the given code changes, you can submit your edit scripts by clicking "Finish" button.<br>
            Then you will see your <span class="emphasize">code</span> which can be used to obtain your reward in <span class="emphasize">Amazon Mturk</span>.<br>
        </div>
        <img src="/public/img/finish_example.png">
        <div class="contents">
            <br>
            <br>
            Press the <span class="emphasize">Start button</span> and begin our requestment!<br>
        </div>
    </body>
</html>