<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            Thank you for participating our research project on code changes.<br>
            In this project, we are investigating how code changes can be explained with primitive edit operations.<br>
            <br>
            Once you start, you're given five code changes obtained from open source projects.<br>
            Each code change consists of two versions of source code.<br>
            Your task is generating an edit script -a series of edit operations -by selecting changed parts of the code.<br>
            <br>
        </div>
        <img src="/public/img/basic_screen.png">
        <div class="contents">
            <br>
            There are four primitive edit operations you can use to describe a code change: insert, delete, move and update.<br>
            We will go through each edit operation with an example, and let you know how to generate the operations.<br>
        </div>
    </body>
</html>