<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            Move<br>
            Some parts of the code on the left side are moved to other parts of the code.<br>
            You have to "Generate Move" on both of the codes. If not, it alert warning and you cannot move or create new edit scripts.<br>
            For example, If you generate move on the left(right) side, you have to generate move on the right(left) side.<br> 
            <br>
            Case1.<br>
        </div>
        <img src="/public/img/move_exam1.png" class="example_img" style="width:450px;">
        <div class="contents">
            The line "address = socketAddress.getAddress();" moves from the inside of if block to the outsidde.<br>
            <br>
        </div>
    </body>
</html>