<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <div class="contents">
            <h3>Change Marker Tutorial</h3>
            <div class="description">
                Thank you for participating our research project. <br>
                In this project, we're studying how various code changes can be decribed using simple types of edits. <br>
                More specifically, you are asked to describe code changes using 
                <span class="emphasize">Delete</span>, <span class="emphasize">Insert</span>, <span class="emphasize">Move</span> and <span class="emphasize">Update</span>.
                <br>
                <br>
                Your task is creating an <span class="emphasize">edit script</span> for each given code change.<br>
                An edit script consists of <span class="emphasize">edit operations</span> indicating edit types and changed code fragment.<br>
                With a quick tutorial, you will understand how you can create an edit script.<br>
                <br>
            </div>
            <div class="description">
                <br>
                Click <span class="emphasize">Next</span> button when you're ready to start the tutorial.
            </div>
        </div>
    </body>
</html>