<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            If you find the all edit scripts correctly, the buttons which show file numbers on the top turn green color.<br>
            The red color of the buttons on the top means that you miss or incorrectly make edit scripts.<br>
            <br>
            After all of the buttons on the top turn green color, you can click the finish button and move to a last page.<br>
        </div>
        <img src="/public/img/check_example.png">
        <div class="contents">
            <br>
            <br>
            After you finished generating edit scripts for the given code changes, you can submit your edit scripts by clicking "Finish" button.<br>
            Then you will see your code which can be used to obtain your reward in Amazon Mturk.<br>
        </div>
        <img src="/public/img/finish_example.png">
        <div class="contents">
            <br>
            Before start, you practice how to create edit scripts on next page.<br>
            If you make edit scripts, you have to click "check!" button and confirm the codes on popup page.<br>
            The check button turns red or green according to whether edit scripts which you made create old code correctly.<br>
            After the check button turns green, the "start" button is turned on.<br>
            Then you click the "start" button and start our research project.<br>
        </div>
    </body>
</html>