<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            <h1>Update</h1>
            Some parts of the code on the left side are changed to othe value.<br>
            <br>
            The way to generate Update is <span class="emphasize">similar to generate Move</span>.<br>
            You have to drag and select both of the codes.<br>
            <br>
            Let's do it!<br>
            <br>
            <br>
            <span class="emphasize">Hint!</span><br>
            1. The parts of the code Updated in this example are <span class="emphasize">not sentences</span>, it is <span class="emphasize">words</span>.<br>
        </div>
    </body>
</html>