<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/tutorialExam.css">
        <link rel="stylesheet" href="/public/css/contextMenu.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
	    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
	    <script>hljs.initHighlightingOnLoad();</script>
        <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
        <script>hljs.initLineNumbersOnLoad();</script>
        <script src="/public/js/exercise.js"></script>
        <script src="/public/js/explain_exercise4.js"></script>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body onload="init();">
        <div class="container">
        <section id="section">
            <div id="left">
                <pre><code class="java" id="inner_left">package org.elasticsearch.index.mapper;

import org.apache.lucene.document.Field;
import org.elasticsearch.common.bytes.BytesReference;
import org.elasticsearch.common.xcontent.XContentType;
import org.elasticsearch.index.mapper.ParseContext.Document;
    
import java.util.List;
    
public class ParsedDocument {
    
    private final Field version;
    
    private final String id, type;
    private final SeqNoFieldMapper.SequenceIDFields seqID;
    
    private final String routing;
    
    private final List documents;
    
    public ParsedDocument(Field version,
                            SeqNoFieldMapper.SequenceIDFields seqID,
                            String id,
                            String type,
                            String routing,
                            List documents,
                            BytesReference source,
                            XContentType xContentType,
                            Mapping dynamicMappingsUpdate) {
        this.version = version;
        this.seqID = seqID;
        this.id = id;
        this.type = type;
        this.documents = documents;
        this.source = source;
        this.dynamicMappingsUpdate = dynamicMappingsUpdate;
        this.xContentType = xContentType;
    }
    
    public String id() {
        return this.id;
    }
    
    public String type() {
        return this.type;
    }
    
    public Field version() {
        return version;
    }
    
    public void updateSeqID(long sequenceNumber, long primaryTerm) {
        this.seqID.seqNo.setLongValue(sequenceNumber);
        this.seqID.seqNoDocValue.setLongValue(sequenceNumber);
        this.seqID.primaryTerm.setLongValue(primaryTerm);
    }
    
    public String routing() {
        return this.routing;
    }
    
    public Document rootDoc() {
        return documents.get(documents.size() - 1);
    }
    
    public List docs() {
        return this.documents;
    }
    
    public BytesReference source() {
        return this.source;
    }
    
    public XContentType getXContentType() {
        return this.xContentType;
    }
    
    public void setSource(BytesReference source, XContentType xContentType) {
        this.source = source;
        this.xContentType = xContentType;
    }
    
    public Mapping dynamicMappingsUpdate() {
        return dynamicMappingsUpdate;
    }
    
    public void addDynamicMappingsUpdate(Mapping update) {
        if (dynamicMappingsUpdate == null) {
            dynamicMappingsUpdate = update;
        } else {
            dynamicMappingsUpdate = dynamicMappingsUpdate.merge(update);
        }
    }
    
    @Override
    public String toString() {
        return "Document id[" + id + "] doc [" + documents + ']';
    }
    
}</code></pre>
            </div>

            <div class="d1" id="hr1">
                <input type="button" class="move_inner" id="#1" value="1" onclick="move_inner(0, 430, 0, 430)">
            </div>

            <div id="right">
                <pre><code class="java" id="inner_right">package org.elasticsearch.index.mapper;

import org.apache.lucene.document.Field;
import org.elasticsearch.common.bytes.BytesReference;
import org.elasticsearch.common.xcontent.XContentType;
import org.elasticsearch.index.mapper.ParseContext.Document;
    
import java.util.List;
    
public class ParsedDocument {
    
    private final Field version;
    
    private final String id, type;
    private final SeqNoFieldMapper.SequenceIDFields seqID;
    
    private final String routing;
    
    private final List documents;
    
    public ParsedDocument(Field version,
                            SeqNoFieldMapper.SequenceIDFields seqID,
                            String id,
                            String type,
                            String routing,
                            List documents,
                            BytesReference source,
                            XContentType xContentType,
                            Mapping dynamicMappingsUpdate) {
        this.version = version;
        this.seqID = seqID;
        this.id = id;
        this.type = type;
<span class="code_insert">        this.routing = routing;</span>
        this.documents = documents;
        this.source = source;
        this.dynamicMappingsUpdate = dynamicMappingsUpdate;
        this.xContentType = xContentType;
    }
    
    public String id() {
        return this.id;
    }
    
    public String type() {
        return this.type;
    }
    
    public Field version() {
        return version;
    }
    
    public void updateSeqID(long sequenceNumber, long primaryTerm) {
        this.seqID.seqNo.setLongValue(sequenceNumber);
        this.seqID.seqNoDocValue.setLongValue(sequenceNumber);
        this.seqID.primaryTerm.setLongValue(primaryTerm);
    }
    
    public String routing() {
        return this.routing;
    }
    
    public Document rootDoc() {
        return documents.get(documents.size() - 1);
    }
    
    public List docs() {
        return this.documents;
    }
    
    public BytesReference source() {
        return this.source;
    }
    
    public XContentType getXContentType() {
        return this.xContentType;
    }
    
    public void setSource(BytesReference source, XContentType xContentType) {
        this.source = source;
        this.xContentType = xContentType;
    }
    
    public Mapping dynamicMappingsUpdate() {
        return dynamicMappingsUpdate;
    }
    
    public void addDynamicMappingsUpdate(Mapping update) {
        if (dynamicMappingsUpdate == null) {
            dynamicMappingsUpdate = update;
        } else {
            dynamicMappingsUpdate = dynamicMappingsUpdate.merge(update);
        }
    }
    
    @Override
    public String toString() {
        return "Document id[" + id + "] doc [" + documents + ']';
    }
    
}</code></pre>
            </div>
        </section>
        <div class="section_container">
            <div class="d2" id="hr2">
                Edit Script
            </div>
        </div>
        <footer id="footer">
            <table id="edit_scripts" onchange="checkExam();">
                <tr>
                    <th id="es_type">Type</th>
                    <th id="es_old">Old Code</th>
                    <th id="es_old_line">Line#</th>
                    <th id="es_new">New Code</th>
                    <th id="es_new_line">Line#</th>
                    <th id="es_opt">Option</th>
                </tr>
            </table>
        </footer>
        </div>
    </body>
</html>