<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <div class="contents">
            <h1>Move</h1>
            Some parts of the code on the left side are moved to other parts of the code.<br>
            <br>
            The way to generate Move is <span class="emphasize">different from</span> Delete and Insert<br>
            You have to drag and select both of the codes.<br>
            <br>
            Firstly, you  <span class="emphasize">just drag</span> a part of the code on left(right).<br>
            Secondly, you drag a part of the code on right(left), click the right mouse button<br>and click the "Generate Move".<br>
            <br>
            Let's do it!<br>
        </div>
    </body>
</html>