<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <div class="contents">
            <h1>Insert</h1>
            Some parts of the code on the right side are added.<br>
            <br>
            <br>
            Let's do it!<br>
            Drag the "Insert" part of code, click the right mouse button and click the "Generate Insert".<br>
            <br>
            <br>
            <span class="emphasize">Hint!</span><br>
            1. The inserted parts are <span class="insert_exam">highlighted green</span>.<br>
        </div>
    </body>
</html>