<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            The edit scripts are about how the codes change.<br>
            It have four types, "Insert", "Delete", "Move", "Update".<br>
            <br>
        </div>

        <div class="image_container">
            Example<br>
            <img src="/public/img/context_menu.png">
        </div>
        <br>
        <div class="contents">
            <br>
            After you find changes in codes, you <span class="emphasize">drag</span> that part and click the <span class="emphasize">right mouse button</span>.<br>
            Then, you can choose "Generate Delete", "Generate Move", etc.<br>
            If you click the "Generate ~", edit scripts are create on the "Edit Script" menu in the bottom.<br>
            <br>
        </div>

        <div class="image_container">
            Example<br>
            <img src="/public/img/delete_button.png">
        </div>
        <div class="contents">
            <br>
            If you want to change or delete edit scripts which you made, click the delete button in "Option" column.<br>
            <br>
            I will explain about edit scripts in next pages.<br>
        </div>
    </body>
</html>