<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            Insert<br>
            Some parts of the code on the right side are added.<br>
            <br>
            Case1.<br>
        </div>
        <img src="/public/img/insert_exam1.png" class="example_img">
        <div class="contents">
            There is a red box on the right side, but it does not exist on the left side.<br>
            <br>
            Case2.
        </div>
        <img src="/public/img/delete_insert_exam1.png" class="example_img">
        <div class="contents">
            The red box on the left side is removed and the red box on the right side is added.<br>
            <br>
            Case3.<br>
        </div>
        <img src="/public/img/delete_insert_exam2.png" class="example_img">
        <div class="contents">
            "Map" on the left side is deleted, and the words "scanner" on the right side is added.<br>
            If the parts of one line are changed, please select only that parts, not all line.
            <br>

        </div>
    </body>
</html>