<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body onload="">
        <div class="contents">
            Delete<br>
            Some parts of the code on the left side are removed.<br>
            <br>
            Case1.<br>
        </div>
        <img src="/public/img/delete_exam1.png" class="example_img">
        <div class="contents">
            There is a red box on the left side, but it does not exist on the right side.<br>
            <br>
        </div>
    </body>
</html>