<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/tutorialExam.css">
        <link rel="stylesheet" href="/public/css/contextMenu.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
	    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
	    <script>hljs.initHighlightingOnLoad();</script>
        <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
        <script>hljs.initLineNumbersOnLoad();</script>
        <script src="/public/js/explain_exercise3.js"></script>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body onload="init();">
        <div class="container">
        <section id="section">
            <div id="left">
                <pre><code class="java" id="inner_left">package org.elasticsearch.cluster.routing;

import org.elasticsearch.Version;
import org.elasticsearch.common.Strings;
import org.elasticsearch.index.shard.ShardId;

import java.util.Collections;
import java.util.Map;
    
public class OperationRouting extends AbstractComponent {
    private final AwarenessAllocationDecider awarenessAllocationDecider;
    
    @Inject
    public OperationRouting(Settings settings, AwarenessAllocationDecider awarenessAllocationDecider) {
<span class="code_delete">        super(settings);</span>
        this.awarenessAllocationDecider = awarenessAllocationDecider;
    }
    
    public GroupShardsIterator deleteByQueryShards(ClusterState clusterState, String index) {
        if (routing == null || routing.isEmpty()) {
            return indexRoutingTable(clusterState, index).groupByShardsIt();
        }
        // we use set here and not identity set since we might get duplicates
        IndexRoutingTable indexRouting = indexRoutingTable(clusterState, index);
        for (String r : routing) {
            int shardId = shardId(clusterState, index, null, null, r);
            IndexShardRoutingTable indexShard = indexRouting.shard(shardId);
            if (indexShard == null) {
                throw new IndexShardMissingException(new ShardId(index, shardId));
            }
            set.add(indexShard.shardsRandomIt());
        }
        return new GroupShardsIterator(Lists.newArrayList(set));
    }
}</code></pre>
            </div>

            <div class="d1" id="hr1">
                <input type="button" class="move_inner" id="#1" value="1" onclick="move_inner()">
            </div>

            <div id="right">
                <pre><code class="java" id="inner_left">package org.elasticsearch.cluster.routing;

import org.elasticsearch.Version;
import org.elasticsearch.common.Strings;
import org.elasticsearch.index.shard.ShardId;

import java.util.Collections;
import java.util.Map;
    
public class OperationRouting extends AbstractComponent {
    private final AwarenessAllocationDecider awarenessAllocationDecider;
    
    @Inject
    public OperationRouting(Settings settings, AwarenessAllocationDecider awarenessAllocationDecider) {
        this.awarenessAllocationDecider = awarenessAllocationDecider;
    }
    
    public GroupShardsIterator deleteByQueryShards(ClusterState clusterState, String index) {
        if (routing == null || routing.isEmpty()) {
            return indexRoutingTable(clusterState, index).groupByShardsIt();
        }
        // we use set here and not identity set since we might get duplicates
        IndexRoutingTable indexRouting = indexRoutingTable(clusterState, index);
        for (String r : routing) {
            int shardId = shardId(clusterState, index, null, null, r);
            IndexShardRoutingTable indexShard = indexRouting.shard(shardId);
            if (indexShard == null) {
                throw new IndexShardMissingException(new ShardId(index, shardId));
            }
            set.add(indexShard.shardsRandomIt());
        }
        return new GroupShardsIterator(Lists.newArrayList(set));
    }
}</code></pre>
            </div>
        </section>
        <div class="section_container">
            <div class="d2" id="hr2">
                Edit Script
            </div>
        </div>
        <footer id="footer">
            <table id="edit_scripts" onchange="checkExam();">
                <tr>
                    <th id="es_type">Type</th>
                    <th id="es_old">Old Code</th>
                    <th id="es_old_line">Line#</th>
                    <th id="es_new">New Code</th>
                    <th id="es_new_line">Line#</th>
                    <th id="es_opt">Option</th>
                </tr>
            </table>
        </footer>
        </div>
    </body>
</html>