<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/explain.css">
    </head>
    <body>
        <div class="contents">
            Update<br>
            Some parts of the code on the left side are changed to othe value.<br>
            "Generate Update" is similar to "Generate Move". You have to "Generate Update" on both of the codes.<br>
            <br>
            Case1.<br>
        </div>
        <img src="/public/img/update_exam1.png" class="example_img">
        <div class="contents">
            The class name "BlockServiceHandler" is changed to "BlockWorkerClientServiceHandler".<br>
            Its name is changed only. The position and usage of the class are not changed.<br>
            <br>
        </div>
    </body>
</html>