<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <script src="/public/js/surveyAjax.js"></script>
        <script src="/public/js/pageMove.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="/public/css/close.css">
        <script>
            function copyCode() {
                let codeNum = document.getElementById('code_number');
                codeNum.select();
                document.execCommand("Copy");
            }
        </script>
    </head>
    <body>
        <div id="display_user_code">
            <p>Thank You for completing our request!</p>
            <p>Please submit the code below to Amazon Turk.</p>
            <div class="code_container">
                <input id="code_number" value="<%= code %>" readonly>
                <button class="button-28" role="button" onclick="copyCode()">Copy</button>
            </div>
        </div>
        <input class="move_button" type="button" value="Back to Tutorial" onclick="moveTutorial()">
    </body>
</html>