<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <script src="/js/surveyAjax.js"></script>
        <script src="/js/pageMove.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="/css/close.css">
    </head>
    <body>
        <div class="empty_line"></div>
        <div id="display_user_code" class="description">
            <div class="emphasize">Thank you very much for your help on our research project.<br><br></div>
            <div class="emphasize">We really appreciate your time and effort for completing the tasks.</div>
        </div>
        <div class="empty_line"></div>
        <input class="move_button" type="button" value="Back to Tutorial" onclick="moveTutorial()">        
    </body>
</html>