<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <script src="/public/js/tutorial.js"></script>
        <link rel="stylesheet" href="/public/css/tutorial.css">
    </head>
    <body>
        <div class="iframe_container">
            <iframe class="explain_window" id="explain_window" src="/views/explain1.html"></iframe>
            <iframe class="exercise_window" id="exercise_window" src=""></iframe>
        </div>
        <div class="footer_container">
            <div class="page_button_container">
                <div class="page_show">
                <span id="current_page">1</span> / <span id="total_page">7</span></div>
            </div>
            <div class="button_container">
                <input class="move_buttons" type="button" value="Prev" onclick="prevExplain();">
                <div class="blanks"></div>
                <form action="/" method="post">
                    <input type="hidden" name="fileNum" value="change001">
                    <input class="start_button" id="start_button" type="submit" disabled value="Start">
                </form>
                <div class="blanks"></div>
                <input class="move_buttons" id="next_button" type="button" value="Next" onclick="nextExplain();">
            </div>
        </div>
        <input id="checkExercise" type="hidden" value="2">
    </body>
</html>