<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Change Marker</title>
        <link rel="stylesheet" href="/public/css/tutorialExam.css">
        <link rel="stylesheet" href="/public/css/contextMenu.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github.min.css">
	    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
	    <script>hljs.initHighlightingOnLoad();</script>
        <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
        <script>hljs.initLineNumbersOnLoad();</script>
        <script src="/public/js/tutorialExam.js"></script>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        <div class="container" style="height: 100%;">
        <section id="section">
            <div id="left">
                <pre id="inner_left"></pre>                    
            </div>

            <div class="d1" id="hr1"></div>

            <div id="right">
                <pre id="inner_right"></pre>
            </div>
        </section>
    </body>
</html>