div#explain_window {
    font-family: "Gill Sans", sans-serif;
    font-weight: 90;
    font-size: 22px;
}
div#explain_window div {
    line-height: 30px;
}

div#explain_window img {
    width: 100%;
    max-width: 1000px;
    border: 5px solid #F6F6F6;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
}

div#explain_window h3 {
    color: #00ADB5;
    text-align: center;
    width: 100%;
}

div#explain_window .example_img {
    border: 0px;
}

div#explain_window .contents {
    text-align: center;
    width: 100%;
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

div#explain_window .question {
    margin-bottom: 0; 
    font-weight: bold;
}

div#explain_window .description {
    text-align: left;
    width: 50%;
}

div#explain_window .footnote {
    text-align: left;
    width: 50%;
    font-size: 14pt;
    font-family:  "Gill Sans", sans-serif;
}

div#explain_window .empty_line {
    height: 10px;
    width: 100%;
}

div#explain_window .image_container {
    color: #8f8f8f;
    text-align: center;
}

div#explain_window .emphasize {
    color: #1561b7;
    font-weight: bold;
}

div#explain_window .delete_exam {
    background-color: #ffebe9;
}

div#explain_window .insert_exam {
    background-color: #e6ffec;
}

div#explain_window .file_green_exam {
    background-color: #0dff47;
}

div#explain_window .file_red_exam {
    background-color: #fd6a78;
}