html, body {
    font-family: "Gill Sans", sans-serif;
    font-weight: 90;
    font-size: 22px;
}

div {
    line-height: 35px;
}

img {
    width: 100%;
    max-width: 1000px;
    border: 5px solid #F6F6F6;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
}

h3 {
    color: #00ADB5;
    text-align: center;
    width: 100%;
}

.example_img {
    border: 0px;
}

.contents {
    text-align: center;
    width: 100%;
    display: flex; 
    align-items: center; 
    flex-direction: column;
    /* overflow: scroll; */
}

.question {
    margin-bottom: 0; 
    font-weight: bold;
}

.description {
    text-align: left;
    width: 50%;
}

.footnote {
    text-align: left;
    width: 50%;
    font-size: 14pt;
    font-family:  "Gill Sans", sans-serif;
}

.empty_line {
    height: 10px;
    width: 100%;
}

.image_container {
    color: #8f8f8f;
    text-align: center;
    z-index: -1; /* because of tutorial page 3 */
}

.emphasize {
    color: #1561b7;
    font-weight: bold;
}

.delete_exam {
    background-color: #ffebe9;
}

.insert_exam {
    background-color: #e6ffec;
}

.file_green_exam {
    background-color: #0dff47;
}

.file_red_exam {
    background-color: #fd6a78;
}
