html, body {
    /* background-color: #f4f4f4; */
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Gill Sans", sans-serif;
}

iframe {
    border: 0;
}

.iframe_container {
    height: calc(100% - 80px);
}

.footer_container {
    color: #EEEEEE;
    /* background-color: #F6F6F6; */
    background-color: #393E46;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.explain_window {
    width: 100%;
    height: 100%;
}

.exercise_window {
    width: 100%;
    height: 100%;
    display: none;
}

.page_button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.button_container {
    display: flex;
    justify-content: center;
}

.blanks {
    width: 10px;
}
.move_buttons {
    width: 80px;
    box-shadow: 0px 4px 2px 0px #DFD3D3;
    background: #EEEEEE;
    border: 0;
    outline: none;
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 10px 10px 10px 10px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    color: #393E46;
    border-radius: 5px;
    transition: all 0.2s ;
    font-family: Franklin Gothic, Charcoal, sans-serif;
}

#prev_button {
    color: #d7d7d8;
}

.move_buttons:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

#start_button {
    width: 80px;
    box-shadow: 0px 4px 2px 0px #DFD3D3;
    background: #EEEEEE;
    border: 0;
    outline: none;
    display: block;
    position: relative;
    float: right;
    padding: 0;
    margin: 10px 10px 10px 10px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    color: #d7d7d8;
    border-radius: 5px;
    transition: all 0.2s ;
}

#start_button:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}