<section id="section">
    <div id="left">
        <pre><code class="java" id="inner_left"><%- lhsTemplate %></code></pre>                    
    </div>

    <div class="d1" id="hr1">
        <% for (let i = 0; i < diffNum; i++) { %> 
            <input type="button" class="move_inner" id="#<%= i %>" value="<%= i %>" onclick="move_inner(this.value)">
        <% } %> 
    </div>

    <div id="right">
        <pre><code class="java" id="inner_right"><%- rhsTemplate %></code></pre>
    </div>
</section>