<div class="contents">
    <h3>Change Marker</h3>
    <div class="description">
        If you entered through the AWS Mturk link, please click the Next button.<br>
        <a class="start_button" onclick="goMturk()">
            <span class="emphasize">Go Mturk</span>
        </a>
    </div><br><br>
    <div class="description">
        If you are here for the web test, please click the Next button.<br>
        <a class="start_button" onclick="goMarker()">
            <span class="emphasize">Go Marker</span>
        </a>
    </div>
</div>