<div class="contents">
    <h3>Delete</h3>
    <div class="description">
        <span class="emphasize">Delete</span> operations can be used to indicate deleted parts of the code. <br>
        If you think a certain code fragment is deleted in the old version, 
        so it no longer exists in the new version, you can use "Delete" operation to describe such changes.
    </div>
    <div class="empty_line"></div>
    <div class="description">
        Now let's create an edit script for the following code change by creating a delete operation.
        <br><br><br><br>
    </div>
</div>