<div class="contents">
    <%-include('final_desc.ejs')%>
    <div class="description">
        After finishing your tasks, you can see your code for rewards.
    </div>
    <div class="image_container">
        <img src="/public/img/finish_example.png">
    </div>
    <div class="empty_line"></div>
    <div class="description">
        Please remind that we will check your edit scripts.<br>
        If your edit scripts are not reasonable enough to explain the given changes, we may refuse to provide your rewards.
    </div>
    <div class="button_layout">
        <a class="start_button" onclick="startProject()">Start</a>
    </div>
</div>