<div class="contents">
    <h3>Insert</h3>
    <div class="description">
        <span class="emphasize">Insert</span> operations can be used to indicate insert parts of the code. <br>
        If you think a certain code fragment was not in the old version, but it is newly added in the new version, 
        you can use "Insert" operation to describe such changes.
    </div>
    <div class="empty_line"></div>
    <div class="description">
        Now let's create an edit script for the following code change by creating an insert operation.
        <br><br><br><br>
    </div>
</div>