<div class="contents">
    <h3>Move</h3>
    <div class="description">
        <span class="emphasize">Move</span> operations can be used to mark moved code fragments.<br>
        It is possible that a code fragment itself is not changed, but simply its location is changed.
        You can use "move" operations to indicate such changes.
    </div>
    <div class="empty_line"></div>
    <div class="description">
        To create a move operation, you need to select code fragments from both versions, 
        then right click on either version to bring up the menu, and select "Generate Move".
        This indicates that the selected code fragment in the old version is moved as the code fragment in the new version.
    </div>
    <div class="empty_line"></div>
    <div class="description">
        Now let's try it with the given code change.
        <br><br><br><br>
    </div>
</div>