<div class="contents">
    <h3>Update</h3>
    <div class="description">
        Lastly, <span class="emphasize">Update</span> operations can be used for simple changes without affecting code structure.
    </div>
    <div class="empty_line"></div>
    <div class="description">
        For instance, a change from "list.size() > 0" to "list.size() > 1" only changes "0" to "1". <br>
        Similarly, "arr.length()" to "array.length()" has no structural change, but only variable name was affected. <br>
        For such changes, you can use update operations instead of using a pair of "delete" and "insert".
    </div>             
    <div class="empty_line"></div>
    <div class="description">
        Remind that you can only use update operations when there is no structural change.<br>
        In the previous example, if the code was changed to "list.isEmpty()", 
        there is a change in code structure, hence you cannot use "update".
    </div>
    <div class="empty_line"></div>
    <div class="description">
        Now let's try it. You can generate "update" in the same way as "move".
    </div>
</div>