<div class="contents">
    <h3>Tutorial Complete</h3>
    <div class="description">
        Now you are ready to start the task of marking changes. <br>                
    </div>
    <div class="empty_line"></div>
    <div class="description">
        There will be five code changes you need to mark. 
        Some changes are more complex than the others.
        Hence you need to carefully create your edit script for the changes.
    </div>
    <div class="empty_line"></div>
    <div class="description">
        After creating edit scripts for the given five changes, 
        click "Finish" button to see your code for rewards. <br>
        You can copy the code and submit it to Amazon MTurk.
    </div>
    <div class="image_container">
        <img src="/img/finish_example.png">
    </div>
    <div class="empty_line"></div>
    <div class="description">
        Please remind that we will check your edit scripts.
        If applying your edit script cannot convert the corresponding old version to the new version 
        within reasonable range of differences, we may refuse to provide your rewards.
    </div>
    <div class="button_layout">
        <a class="start_button" onclick="startProject()">Start</a>
    </div>
    <br><br>
</div>