<h3>Change Marker Basics</h3>
    <div class="description">
       Change Marker is simlar to a compare editor of an IDE. <br>
       You can select a changed code fragment, and right click to create an <span class="emphasize">Edit Operation</span> like the following.<br>
    </div>
    <div style="height:10px;">&nbsp;</div>
    <div class="image_container">
        <img src="./public/img/context_menu.png">
    </div>
    <div class="image_container">
        <img src="./public/img/edit_script.png">
    </div>
    <div style="height:10px;">&nbsp;</div>
    <div class="description">
        There are four types of edit operations, <span class="emphasize">Delete</span>, <span class="emphasize">Insert</span>, <span class="emphasize">Move</span> and <span class="emphasize">Update</span>.<br>
        You can create an <span class="emphasize">Edit Script</span>, a series of edit operations, which can describe a given code change. 
    </div>
    <div class="empty_line">&nbsp;</div>
    <div class="description">
        Change Marker highlights deleted and inserted lines, which will be only used for references. <br>
        Also, a box (<img src="./public/img/box_exam.png" style="height:0.8em; width:1.6em; border:0;">) in the middle indicates a changed part, and you can jump to the part by clicking it.<br>
    </div>
    <div class="empty_line">&nbsp;<br><br></div>