<h3>One Last Thing</h3>
<div class="description">
    Please note that a code change can be described in different ways. <br>
    For instance, consider the following code change.
</div>
<div class="empty_line"></div>
<div class="code_example">
    ...<br>
    <span class="line_del">&nbsp;&nbsp;&nbsp;&nbsp;buffer[size++] = 'e';</span><br>
    } else {<br>
        &nbsp;&nbsp;&nbsp;&nbsp;...<br>
    <span class="line_del">&nbsp;&nbsp;&nbsp;&nbsp;buffer[size++] = 'e';</span><br>
    }<br>
    <span class="line_add">buffer[size++] = 'e';</span>
</div>
<div class="empty_line"></div>
<div class="description">
    You can either describe it as the first two statements are deleted, and the last one is inserted,<br>
    or the first statement is deleted and the second one is moved to the third.<br>
    As long as your edit operations can <span class="emphasize">convert the old code to the new code</span>, and<br>
    <span class="emphasize">use the operations appropriately</span>, you can describe changes any way you want. <br>
    If you need to description of the edit operations, please click "Help" button during the tasks.
</div>