<h3>Delete / Insert</h3>
<div class="description">
    <span class="emphasize">Delete</span> operations can be used to mark deleted code fragments from the old code. <br>
    <span class="emphasize">Insert</span> operations indicate inserted code fragments in the new code. <br>    
</div>
<div class="empty_line"></div>
<div class="description">
    Try to select deleted/inserted code fragments in the following example and create delete/insert operations.<br>
    Note that you can <span class="emphasize">ignore changes in whitespaces and comments</span>, which do not affect actual code.
    <br><br><br><br>
</div>