<div class="description">
    Thank you for participating our research project. <br>
    In this project, we're studying how various code changes can be decribed using simple types of edits. <br>
    Your task is to create edit scripts describing given code changes. 
    <span class="emphasize">Change Marker</span> is a tool to assist such task, and we have a short tutorial for its usage.<br>
</div>