<h3>Move / Update</h3>
<div class="description">
    <span class="emphasize">Move</span> operations can be used to indicate code fragments whose location has been changed.<br>
    <span class="emphasize">Update</span> operations represent a single value changes without code structure changes, such as variable rename, update of literal values, etc.    
</div>
<div class="empty_line"></div>
<div class="description">
    You can use Move when you mark code fragments are moved, even if there is no change in the code fragments. <br>
    In case of Update, you must use it for a single value change, <span class="emphasize">only if there is no change in code structure or types</span>.<br>
    For instance, you must not use it to mark a number <span class="code_example" style="font-size:14pt">3.14</span> 
    is replaced by <span class="code_example" style="font-size:14pt">PI</span>.
    Use Delete/Insert for such cases.
</div>
<div class="empty_line"></div>
<div class="description">
    To create move/update operations, you need to select corresponding code fragments in both old and new code parts.
    Try to create move/update operations for the following example.<br><br>
</div>